{% extends 'base.html.twig' %}

{% block title %}Hello ToDoItemController!{% endblock %}

{% block body %}
    <main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

        <nav class="flex justify-between mb-12">
            <p>Welcome back, {{ app.user.username }}!</p>
            <a class="lex w-20 justify-center rounded-xl bg-indigo-600 px-3 py-1.5 text-sm font-semibold
                    leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
                    focus-visible:outline-offset-2 focus-visible:outline-indigo-600" href="/logout">Log Out</a>
        </nav>
        <section class="relative mt-2 rounded-md shadow-sm my-12">
            <div class="mb-4">
                {{ form_start(form) }}
                <div class="w-48 flex justify-center">
                    {{ form_widget(form) }}
                    <button type="submit" class="lex w-20 rounded-xl bg-indigo-600 px-3 py-1.5 text-sm font-semibold
                    leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
                    focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mx-12">Create
                    </button>
                </div>
            </div>


            <ul role="list" class="divide-y divide-gray-100">
                {% for item in items %}
                    <li class="flex justify-between gap-x-6 py-5">
                        <div class="flex gap-x-4">
                            <div class="min-w-0 flex-auto ml-4">
                                {{ item.name }}
                                <input type="checkbox" id="completed"
                                        {% if(item.isCompleted) %}
                                            checked
                                        {% endif %}
                                       onclick="this.isCompleted = true"
                                />

                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
